{% extends 'base.html' %}

{% block title %}
<title>Купить уголь каменный в Тюмени с доставкой | Проминвест 72</title>
<meta name="description" content="Каменный уголь в Тюмени в мешках, МКР или валом с доставкой или самовывозом по доступным ценам"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row pt-5">
        <div class="col-12">
          <h3 class="text-uppercase border-bottom mb-4">Каменный уголь</h3>
        </div>
    </div>
<div class="row">
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
      <div class="card">
        <img src="{{ url_for('static', filename='nW4leITIzFc.jpg') }}" class="card-img-top" alt="Card Image">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Уголь каменный валом</h5>
          <p class="card-text mb-4">Рядовой каменный уголь 0-300 валом.</p>
          <h4 class="card-text mb-4">5500 ₽ / Тонна</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
      <div class="card">
        <img src="{{ url_for('static', filename='ThmuzvwW0S8.jpg') }}" class="card-img-top" alt="Card Image">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Уголь каменный в МКР</h5>
          <p class="card-text mb-4">Каменный уголь различных марок в мешках МКР.</p>
          <h4 class="card-text mb-4">6500 ₽ / Мешок</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
      <div class="card">
        <img src="{{ url_for('static', filename='UIlLNsHOFCw.jpg') }}" class="card-img-top" alt="Card Image">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Уголь каменный в мешках</h5>
          <p class="card-text mb-4">Каменный уголь различных марок в мешках по 45-50 кг.</p>
          <h4 class="card-text mb-4">450 ₽ / Мешок</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12">
      <h3 class="text-uppercase border-bottom mb-4">Каменный уголь</h3>
    </div>
</div>
<table class="table">
	<tbody>
		<tr>
			<td rowspan="4" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Марки Угля</span></td>
			<td rowspan="4" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Фракция</span></td>
			<td colspan="2" rowspan="2" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Влага,%</span></td>
			<td colspan="2" rowspan="2" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Зола,%</span></td>
			<td rowspan="4" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Теплота сгор. Ккал/кг (не ниже)</span></td>
			<td rowspan="4" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Выход летучих. веществ,%</span></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td rowspan="2" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Ср.</span></td>
			<td rowspan="2" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Пр.</span></td>
			<td rowspan="2" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Ср.</span></td>
			<td rowspan="2" style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><span style="color:#B22222;">Пр.</span></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДР</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">13</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">15</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">14</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5200</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">40,5</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДР</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">18</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">10</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">42</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДПК</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">50-200</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">15</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">8</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5800</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">39</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДПКО</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">25-200</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">10</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">13</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">9</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">11</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5400</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">42</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДПК</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">50-200</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">20</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">40</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДОМ</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">13-50</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">13</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">15</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">14</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">15</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5400</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">42</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДО</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">25-50</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">18</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5200</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">44</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДМСШ</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-25</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">17</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">15</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5000</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">42</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДСШ</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-13</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">14</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">18</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">4900</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">43</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДОМСШ</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-50</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">13</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">15</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">15</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5100</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">42</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДГР</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">14</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">18</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5200</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">47</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ДГР</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">14</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5600</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">47</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ГР</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">8</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6000</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">47</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ТОМСШ</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-50</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">14</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6000</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">16</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ТПК</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">50-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">10</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">10</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6450</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">10</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ТКО</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">25-100</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">8</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6700</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">16</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ТР</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">8</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">11</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">16</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5700-6000</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">16</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ССОМСШ</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-50</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">9</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">24</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5400-6000</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">25</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ССОМ</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">25-100</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">9</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">8</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">7000</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">24</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ССПК</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">50-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">8</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">15</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6150-7000</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">22</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">ССР</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">14</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">18</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5800</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">12</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">АК</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">40-70</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">8</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">13</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">до 8</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">АМ</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">0-13</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">7</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6900</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">7</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(0, 204, 0);">АС</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">13-25</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">5</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">7100</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">4</td>
		</tr>
		<tr>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"><strong><span style="color: rgb(39, 174, 96);">АО</span></strong></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">25-50</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">8</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">13</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;"></td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">6300</td>
			<td style="padding: 5px; border: 1px solid rgb(222, 222, 222); vertical-align: top;">до 8</td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}